<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fire Alarm</title>
    <link href="/style.css" rel="stylesheet" />
    <meta charset="utf-8">
</head>

<body>
    <h1>Fire Alarm</h1>
    <p>
        Select the stations that you want to receive notifications about.<br>
        Not selecting stations will remove them from your profile.
    </p>
    <form id="stationsFilter">
        {% for line in lines -%}
        <input type="checkbox" id="{{ line.name }}"
            onchange="updateStationList(filter, stations, this.id, this.checked)">
        <label for="{{ line.name }}"
            style="background-color: rgb({{ line.red }}, {{ line.green }}, {{ line.blue }}); font-size: larger;">
            {{ line.name }}
        </label>
        {% endfor -%}
    </form>
    <dl id="stationList">
        {% for station in stations -%}
        <dt name="{{ station.name }}">
            <input type="checkbox" id="{{ station.name }}">
            <label for="{{ station.name }}">{{ station.name }}</label>
        </dt>
        <dd name="{{ station.name }}">
            <ul>
                {% for line in station.lines -%}
                <li style="background-color: rgb({{ line.red }}, {{ line.green }}, {{ line.blue }});">
                    {{ line.name }}
                </li>
                {% endfor -%}
            </ul>
        </dd>
        {% endfor -%}
    </dl>
    <form id="emailForm">
        <input type="email" name="email" placeholder="Email" required>
        <button type="submit">Request Code</button>
    </form>
    <form id="subscriptionForm" hidden>
        <input type="number" name="code" min="0" max="65535" minlength="6" maxlength="6" size="6" required>
        <button type="submit">Verify</button>
    </form>
    <p id="result"></p>
    <script>
        const filter = new Map([
            {% for line in lines -%}
            ['{{ line.name }}', false],
            {% endfor -%}
        ]);

        class StationInfo {
            /**
            * @param {string} name - Name of the station
            * @param {string[]} lines - Lines that the station is on
            */
            constructor(name, lines) {
                this.name = name;
                this.lines = lines;
            }

            /**
            * @param {Map<string, boolean>} filter - Filter to be checked against
            * @returns {boolean} - Should the station be displayed?
            */
            shouldDisplay(filter) {
                for (const line of this.lines) {
                    if (filter.get(line)) {
                        return true;
                    }
                }
                return false;
            }
        }

        const stations = [
            {% for station in stations -%}
            new StationInfo('{{ station.name | replace(from="'", to="\'") | safe }}', [
                {% for line in station.lines %}'{{ line.name }}', {% endfor %}
            ]),
            {% endfor -%}
        ];
    </script>
    <script src="/index.js"></script>
    <noscript>Please Enable Javascript Support</noscript>
</body>