body {
    font-family: sans-serif;
}

input[type=checkbox] {
    position: absolute;
    visibility: hidden;
}

button, input, label {
    background-color: unset;
    border-radius: .5em; 
    border: .2em solid;
    display: inline-block;
    margin: .15em 0;
    padding: .25em;
    transition-duration: .2s;
}

button, input {
    font-size: larger;
}

button:hover, label:hover {
    transform: translateY(-.25em);
}

button:active {
    opacity: .5;
    transition-duration: unset;
}

input[type=checkbox]:checked + label {
    opacity: .5;
}

dt, dd, ul {
    display: contents;
}

dd::after {
    content: "\A";
    white-space: pre;
}

li {
    border-radius: .5em;
    display: inline-block;
    font-size: smaller;
    margin: .2em;
    padding: .25em;
}